<h3>This is the Edit page</h3>

<%= form_with model: @task do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>
  <%= form.label :detail %>
  <%= form.text_area :detail, size: "32x4" %>
  <%= form.submit %>
<% end %>


<%= link_to "Remove Task", new_task_path method: :delete%>

<%= link_to "Back", task_path %>
