<h3>This is the new entry page</h3>


<%= form_with model: @task do |form| %>
  <%= form.label :title, "Task Name" %>
  <%= form.text_field :title %>
  <%# <br> %>
  <%# <br> %>
  <%= form.label :detail, "Details" %>
  <%= form.text_area :detail, size: "32x4" %>
  <%= form.submit %>
  <% end %>
  