<h3>This is your show page</h3>



<h2><strong> <%= @task.title  %> </strong>   </h2>
<h2><strong> <%= @task.detail %>   </strong>     </h2>
<h2><strong> <%= @task.completed %>   </strong>   </h2>

<%= link_to "edit", edit_task_path %>
<%= link_to "Remove Task", new_task_path method: :delete%>

<%= link_to "Back to tasks", tasks_path %>
